$white: #ffffff;
$gray: #666666;
$gray-light: #999999;
$gray-dark: #333333;
$gray-mate: #262935;
$red: #cc3333;
$cc: #cccccc;
$yellow: #ffcc66;
$brown: #996633;


// Fuentes

$principal: 'Roboto', sans-serif;
